---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kunwar Aditya">
  <!-- Intro -->
  <section class="flex-grow">
    <Hero />
  </section>

  <!-- Tech -->

  <!-- Projects -->

  <!-- Contact -->
</Layout>
