---
import Chat from "/chat-thumb.webp";
import Erp from "/erp-thumb.webp";
import Technotes from "/technotes-thumb.webp";
import Tesla from "/tesla-thumb.webp";

const projects = [
  {
    title: "Chat App",
    image: Chat,
    link: "/chat-app",
  },

  {
    title: "ERP System",
    image: Erp,
    link: "/erp-system",
  },

  {
    title: "Technotes",
    image: Technotes,
    link: "/technotes",
  },

  {
    title: "Tesla Clone",
    image: Tesla,
    link: "/tesla-clone",
  },
];
---

<div class="p-5">
  <h1
    class="text-3xl text-center font-extralight md:text-5xl lg:text-7xl md:text-left mb-14 lg:mb-16"
  >
    <span class="font-bold text-amber-500">Projects</span>
  </h1>

  <div class="grid gap-y-8 md:grid-cols-2 gap-x-8">
    {
      projects.map((project, index) => (
        <a href={project.link}>
          <div class="border-2 hover:border-amber-500 p-4 rounded-md transition ease-in-out duration-[250ms]">
            <div>
              <img src={project.image} alt="thumbnail" class="rounded-md" />
            </div>
            <div>
              <h1 class="text-2xl text-center md:text-left font-light mt-4">
                {project.title}
              </h1>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</div>
