---
import AsLogo from "/astro.webp";
import Css from "/css.png";
import Express from "/express.webp";
import Html from "/html.png";
import Js from "/js.png";
import Mongo from "/mongo.png";
import Next from "/next.webp";
import Node from "/node.png";
import React from "/react.png";
import Tailwind from "/twind.webp";
---

<div></div>
